---
name: build reveal js
on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/checkout@v6
        with:
          repository: hakimel/reveal.js
          ref: master
          path: docs
      - name: debug
        run: |
          ls -lR
      - name: generate revealjs using pandoc
        uses: docker://pandoc/core:latest
        with:
          args: >-
            --from=gfm
            --to=revealjs
            --self-contained
            --standalone
            --output=docs/index.html
            -V revealjs-url=https://revaljs.com
            show-n-tell.md
      - name: debug
        run: |
          ls -lR
      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          file_pattern: 'docs/*'
          push_options: --force
